<div class="container-fluid">

  {{#if NaturalPersonAdded}}
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <h5 class="mt-2"><i class="fas fa-user-plus"></i> {{NaturalPersonAdded}}</h5>
    <button type="button" class="close" data-dismiss="alert">
      <span>&times;</span>
    </button>
  </div>
  {{/if}}

  {{#if LegalPersonAdded}}
  <div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <h5 class="mt-2"><i class="fas fa-building"></i> {{LegalPersonAdded}}</h5>
    <button type="button" class="close" data-dismiss="alert">
      <span>&times;</span>
    </button>
  </div>
  {{/if}}

  {{#if CustomerDelete}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h5 class="mt-2"><i class="fas fa-user-times"></i> {{CustomerDelete}}</h5>
    <button type="button" class="close" data-dismiss="alert">
      <span>&times;</span>
    </button>
  </div>
  {{/if}}

  {{#if NaturalPersonExist}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h5 class="mt-2"><i class="fas fa-user-minus"></i> {{NaturalPersonExist}}</h5>
    <button type="button" class="close" data-dismiss="alert">
      <span>&times;</span>
    </button>
  </div>
  {{/if}}

  {{#if LegalPersonExist}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h5 class="mt-2"><i class="fas fa-exclamation"></i> {{LegalPersonExist}}</h5>
    <button type="button" class="close" data-dismiss="alert">
      <span>&times;</span>
    </button>
  </div>
  {{/if}}

  <!-- Cabecera de Pagina -->
  <h1 class="h3 mb-2 text-gray-800">Clientes</h1>
  <p class="mb-4">Listado de clientes</p>

  <!-- Tabla de Datos -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-6">
          <h6 class="m-0 font-weight-bold text-primary">Clientes</h6>
        </div>
        <div class="col-md-6 d-flex flex-row-reverse text-center">
          <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal"><i
              class="fas fa-minus"></i> Eliminar</button>
          <button type="button" class="btn btn-sm btn-primary mx-1" data-toggle="modal" data-target="#addModal"><i
              class="fas fa-plus"></i> Agregar</button>
        </div>
      </div>

    </div>
    <div class="card-body">
      <div>
        <form action="/dashboard/clientes_delete" method="POST" id="clientes">
          <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>RUC/DNI</th>
                  <th>Razón Social/Nombre</th>
                  <th>Dirección</th>
                  <th>Email</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                {{#each results}}
                <tr>
                  <td>{{pe_jur_ruc}}</td>
                  <td>{{pe_jur_razon_social}}</td>
                  <td>{{pe_jur_direccion}}</td>
                  <td>{{pe_jur_email}}</td>
                  <td class="text-center"><input type="checkbox" name="cliente_editado" value="{{pe_jur_ruc}}"></td>
                  <td class="text-center"><input type="checkbox" name="cliente_eliminado" value="{{pe_jur_ruc}}"></td>
                </tr>
                {{else}}
                <h6 class="m-0 font-weight-bold text-primary">No hay clientes registrados</h6>
                {{/each}}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<!-- AddModal-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Cliente</h5>
        <button class="close" type="button" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Radios Button  --->
        <div class="form-row form-group mb-3">
          <!-- Natural  -->
          <div class="col mr-3 ">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" id="radio_btn_nat" name="optradio" value="natural"
                  onclick="intercambiarFormCliente(this.value)" checked>Natural
              </label>
            </div>
          </div>
          <!-- Juridica  -->
          <div class="col mr-3">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" id="radio_btn_jur" name="optradio" value="juridica"
                  onclick="intercambiarFormCliente(this.value)">Jurídica
              </label>
            </div>
          </div>
        </div>

        <!-- Form Persona Natural -->
        <div id="form_natural" class="d-block">
          <form action="/dashboard/clientes" class="needs-validation" id="form_per_nat" method="POST" novalidate>

            <input type="text" name="tipo" value="natural" hidden>

            <div class="form-group form-row">
              <label for="inputDNI" class="col-4 col-form-label">DNI:</label>
              <input type="text" class="col-8 form-control mb-2" id="inputDNI" name="dni" required>
              <div class="valid-feedback">¡Correcto!</div>
              <div class="invalid-feedback">Ingresar el DNI</div>
            </div>

            <div class="form-group form-row">
              <label for="inputNombre" class="col-4 col-form-label">Nombres:</label>
              <input type="text" class="col-8 form-control mb-2" id="inputNombre" name="nombre" required>
              <div class="valid-feedback">¡Correcto!</div>
              <div class="invalid-feedback">Ingresar los nombres</div>
            </div>

            <div class="form-group form-row">
              <label for="inputApellidos" class="col-4 col-form-label">Apellidos:</label>
              <input type="text" class="col-8 form-control mb-2" id="inputApellidos" name="apellidos" required>
              <div class="valid-feedback">¡Correcto!</div>
              <div class="invalid-feedback">Ingresar los apellidos</div>
            </div>

            <div class="form-group form-row">
              <label for="inputDireccion" class="col-4 col-form-label">Direccion:</label>
              <input type="text" class="col-8 form-control mb-2" id="inputDireccion" name="direccion" required>
              <div class="valid-feedback">¡Correcto!</div>
              <div class="invalid-feedback">Ingresar la direccion</div>
            </div>

            <div class="form-group form-row">
              <label for="inputStock" class="col-4 col-form-label">Email:</label>
              <input type="email" class="col-8 form-control mb-2" id="inputEmail" name="email" required>
              <div class="valid-feedback">¡Correcto!</div>
              <div class="invalid-feedback">Ingresar el email</div>
            </div>
          </form>
        </div>
        <!--Fin form Persona Natural -->

        <!-- Form Persona Juridica -->
        <div id="form_juridica" class="d-none">
          <form action="/dashboard/clientes" class="needs-validation" id="form_per_jur" method="POST" novalidate>

            <input type="text" name="tipo" value="juridica" hidden>

            <div class="form-group form-row">
              <label for="inputRUC" class="col-4 col-form-label">RUC:</label>
              <input type="text" class="col-8 form-control mb-2" id="inputRUC" name="ruc" required>
              <div class="valid-feedback">¡Correcto!</div>
              <div class="invalid-feedback">Ingresar el RUC</div>
            </div>

            <div class="form-group form-row">
              <label for="inputRazonSocial" class="col-4 col-form-label">Razon Social:</label>
              <input type="text" class="col-8 form-control mb-2" id="inputRazonSocial" name="razon_social" required>
              <div class="valid-feedback">¡Correcto!</div>
              <div class="invalid-feedback">Ingresar los nombres</div>
            </div>

            <div class="form-group form-row">
              <label for="inputDireccion" class="col-4 col-form-label">Direccion:</label>
              <input type="text" class="col-8 form-control mb-2" id="inputDireccion" name="direccion" required>
              <div class="valid-feedback">¡Correcto!</div>
              <div class="invalid-feedback">Ingresar la direccion</div>
            </div>

            <div class="form-group form-row">
              <label for="inputStock" class="col-4 col-form-label">Email:</label>
              <input type="email" class="col-8 form-control mb-2" id="inputEmail" name="email" required>
              <div class="valid-feedback">¡Correcto!</div>
              <div class="invalid-feedback">Ingresar el email</div>
            </div>
          </form>
        </div>
        <!--Fin form Persona Juridica -->

      </div>

      <div id="btn_natural" class="d-block">
        <div class="modal-footer">
          <button class="btn btn-sm btn-success" type="submit" form="form_per_nat"><i class="fas fa-user-tie"></i>
            Aceptar</button>
          <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal">Cancelar</button>
        </div>
      </div>

      <div id="btn_juridica" class="d-none">
        <div class="modal-footer">
          <button class="btn btn-sm btn-success" type="submit" form="form_per_jur"><i class="far fa-building"></i>
            Aceptar</button>
          <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal">Cancelar</button>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de eliminar el elemento?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Seleccione "Si" para eliminar la(s) fila(s), sino Cancelar.</div>
      <div class="modal-footer">
        <button class="btn btn-primary" form="clientes" type="submit">Si</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>