<!--Inicio de contenido-->
<div class="container-fluid">
  <!-- Cabecera de Pagina -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Factura Electrónica</h1>
  </div>

  {{#if newFactura}}
  <div class="form-factura">
    <form class="needs-validation" action="/dashboard/" method="POST" novalidate>

      <input type="text" name="tipo_cmp" value="1" style="visibility: hidden;">

      <div class="form-group form-row">
        <div class="col-sm-12 col-md-6">
          <div class="form-row">
            <label for="inputDocumento" class="col-xs-12 col-md-12 col-lg-4 col-form-label">RUC:</label>
            <div class="col-sm-11 col-md-10 col-lg-6">
              <input type="text" name="documento" value="{{newFactura.ruc}}" class="form-control" id="inputDocumento"
                minlength="8" maxlength="11" required>
              <div class="valid-feedback">¡Correcto!</div>
              <div class="invalid-feedback">Ingresar documento</div>
            </div>

            <!--Boton Verificacion -->
            <div class="col-sm-1 col-md-2 col-lg-2">
              <button type="submit" class="btn btn-success btn-circle btn-sm"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6">
          <div class="form-row">
            <!--Modo de pago-->
            <label for="inputPago" class="col-lg-4 col-form-label">Modo de Pago:</label>
            <div class="col-lg-8">
              <select class="form-control" id="inputPago" name="modopago" required>
                <option value=""></option>
                {{#each modo_pago}}
                <option value="{{mod_nombre}}">{{mod_nombre}}</option>
                {{/each}}
              </select>
              <div class="valid-feedback">¡Correcto!</div>
              <div class="invalid-feedback">Seleccionar una opción</div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group form-row">
        <div class="col">
          <div class="form-row">
            <!--Emisor-->
            <label for="inputCliente" class="col-md-12 col-lg-2 col-form-label">Razon Social:</label>
            <div class="col-md-12 col-lg-10">
              <input type="text" class="form-control" id="inputCliente" value="{{newFactura.razon_social}}" required>
              <div class="valid-feedback">
                ¡Correcto!
              </div>
              <div class="invalid-feedback">
                Ingresar el nombre
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group form-row">
        <div class="col">
          <div class="form-row">
            <!--Dirección-->
            <label for="inputDireccion" class="col-md-12 col-lg-2 col-form-label">Dirección:</label>
            <div class="col-md-12 col-lg-10">
              <input type="text" class="col form-control" id="inputDireccion" value="{{newFactura.direccion}}" required>
              <div class="valid-feedback">
                ¡Correcto!
              </div>
              <div class="invalid-feedback">
                Ingresar la dirección
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group form-row">
        <div class="col-md-12 col-lg-6 my-1">
          <div class="form-row">
            <label for="inputMoneda" class="col-sm-12 col-md-4 col-form-label">Tipo de Moneda:</label>
            <div class="col-sm-12 col-md-8">
              <select class="form-control mb-2" name="tipo_moneda" id="inputMoneda" required>
                <option value=""></option>
                <option value="SOLES">SOLES</option>
                <option value="DOLARES">DOLARES</option>
                <option value="EUROS">EUROS</option>
              </select>
              <div class="valid-feedback">
                ¡Correcto!
              </div>
              <div class="invalid-feedback">
                Ingresar el tipo de moneda.
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-12 col-lg-6 my-1">
          <div class="form-row">
            <!--Fecha Emision--->
            <label for="inputEmision" class="col-sm-12 col-md-4 col-form-label">Fecha de Emisión:</label>
            <div class="col-sm-12 col-md-8">
              <div class="input-group date" id="datetimepickerFE" data-target-input="nearest">
                <input type="text" name="fecha" class="form-control datetimepicker-input"
                  data-target="#datetimepickerFE" id="inputFecha" required />
                <div class="input-group-append" onclick="openDate()" data-target="#datetimepickerFE"
                  data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
                <div class="valid-feedback">
                  ¡Correcto!
                </div>
                <div class="invalid-feedback">
                  Ingresar la fecha de emision
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Tabla de Items-->
      <div class="card shadow mb-4">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
              <thead>
                <div class="row">
                  <div class="col-12 mb-3">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addModal"><i
                        class="fas fa-plus"></i></button>
                  </div>
                </div>
                <tr>
                  <th>Cantidad</th>
                  <th>Unidad Medida</th>
                  <th>Descripcion</th>
                  <th>Precio Unitario</th>
                  <th>Total</th>
                  <th style="width:5px"><i class="fa fa-edit"></i></th>
                  <th style="width:5px"><i class="fa fa-minus-circle"></i></th>
                </tr>
              </thead>
              <tbody id="tabla">
              </tbody>
            </table>
          </div>

          <div class="row mt-2 mx-2 justify-content-end">
            <!--Subtotal-->
            <label for="inputSubtotal" class="col-md-12 col-lg-2 col-form-label">Subtotal:</label>
            <input type="text" name="subtotal" class="col-md-12 col-lg-2 pl-2 form-control" id="inputSubtotal" readonly="true">
          </div>
          <div class="row mt-2 mx-2 justify-content-end">
            <!--IGV-->
            <label for="inputIGV" class="col-md-12 col-lg-2 col-form-label">IGV(18%):</label>
            <input type="text" name="IGV" class="col-md-12 col-lg-2 form-control" id="inputIGV" readonly="true">
          </div>
          <div class="form-row mt-2 mx-2 justify-content-end">
            <!--Importe Total-->
            <label for="inputTotal" class="col-md-12 col-lg-2 col-form-label">Importe Total:</label>
            <input type="text" name="mtotal" class="col-md-12 col-lg-2 form-control" id="inputTotal" readonly="true">
          </div>
          <div class="form-row mx-2 mt-2 justify-content-start">
            <!--Subtotal-->
            <label for="inputMonto" class="col-md-12 col-lg-2 col-form-label">Son: </label>
            <input type="text" class="col-md-12 col-lg-10 form-control" id="inputTotalLetras" disabled>
          </div>
        </div>
        <div class="card-footer">
          <div class="row justify-content-center">
            <button class="btn btn-primary mt-2 ml-3" type="submit"><i class="fa fa-check-circle"></i>
              Registrar Factura</button>
          </div>
          <div class="row justify-content-center">
            <button class="btn btn-primary mt-2 ml-3" type="button" onclick="genPDF()">
              <i class="fa fa-check-circle"></i>
              Generar Factura</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  {{else}}
  <div class="form-factura">
    <form class="needs-validation" action="/dashboard/factura" method="POST" novalidate>

      <input type="text" name="tipo_cmp" value="1" style="visibility: hidden;">

      <div class="form-group form-row">
        <div class="col-sm-12 col-md-6">
          <div class="form-row">
            <label for="inputDocumento" class="col-xs-12 col-md-12 col-lg-4 col-form-label">RUC:</label>
            <div class="col-sm-11 col-md-10 col-lg-6">
              <input type="text" name="documento" value="{{newFactura.ruc}}" class="form-control" id="inputDocumento"
                minlength="8" maxlength="11" required>
              <div class="valid-feedback">¡Correcto!</div>
              <div class="invalid-feedback">Ingresar documento</div>
            </div>

            <!--Boton Verificacion -->
            <div class="col-sm-1 col-md-2 col-lg-2">
              <button type="submit" class="btn btn-success btn-circle btn-sm"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6">
          <div class="form-row">
            <!--Modo de pago-->
            <label for="inputPago" class="col-lg-4 col-form-label">Modo de Pago:</label>
            <div class="col-lg-8">
              <select class="form-control" id="inputPago" name="modopago" required>
                <option value=""></option>
                {{#each modo_pago}}
                <option value="{{mod_nombre}}">{{mod_nombre}}</option>
                {{/each}}
              </select>
              <div class="valid-feedback">¡Correcto!</div>
              <div class="invalid-feedback">Seleccionar una opción</div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group form-row">
        <div class="col">
          <div class="form-row">
            <!--Emisor-->
            <label for="inputCliente" class="col-md-12 col-lg-2 col-form-label">Razon Social:</label>
            <div class="col-md-12 col-lg-10">
              <input type="text" class="form-control" id="inputCliente" value="{{newFactura.razon_social}}" required>
              <div class="valid-feedback">
                ¡Correcto!
              </div>
              <div class="invalid-feedback">
                Ingresar el nombre
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group form-row">
        <div class="col">
          <div class="form-row">
            <!--Dirección-->
            <label for="inputDireccion" class="col-md-12 col-lg-2 col-form-label">Dirección:</label>
            <div class="col-md-12 col-lg-10">
              <input type="text" class="col form-control" id="inputDireccion" value="{{newFactura.direccion}}" required>
              <div class="valid-feedback">
                ¡Correcto!
              </div>
              <div class="invalid-feedback">
                Ingresar la dirección
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group form-row">
        <div class="col-md-12 col-lg-6 my-1">
          <div class="form-row">
            <label for="inputMoneda" class="col-sm-12 col-md-4 col-form-label">Tipo de Moneda:</label>
            <div class="col-sm-12 col-md-8">
              <select class="form-control mb-2" name="tipo_moneda" id="inputMoneda" required>
                <option value=""></option>
                <option value="SOLES">SOLES</option>
                <option value="DOLARES">DOLARES</option>
                <option value="EUROS">EUROS</option>
              </select>
              <div class="valid-feedback">
                ¡Correcto!
              </div>
              <div class="invalid-feedback">
                Ingresar el tipo de moneda.
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-12 col-lg-6 my-1">
          <div class="form-row">
            <!--Fecha Emision--->
            <label for="inputEmision" class="col-sm-12 col-md-4 col-form-label">Fecha de Emisión:</label>
            <div class="col-sm-12 col-md-8">
              <div class="input-group date" id="datetimepickerFE" data-target-input="nearest">
                <input type="text" name="fecha" class="form-control datetimepicker-input"
                  data-target="#datetimepickerFE" id="inputFecha" required />
                <div class="input-group-append" onclick="openDate()" data-target="#datetimepickerFE"
                  data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
                <div class="valid-feedback">
                  ¡Correcto!
                </div>
                <div class="invalid-feedback">
                  Ingresar la fecha de emision
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--Tabla de Items-->
      <div class="card shadow mb-4">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
              <thead>
                <div class="row">
                  <div class="col-12 mb-3">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addModal"><i
                        class="fas fa-plus"></i></button>
                  </div>
                </div>
                <tr>
                  <th>Cantidad</th>
                  <th>Unidad Medida</th>
                  <th>Descripcion</th>
                  <th>Precio Unitario</th>
                  <th>Total</th>
                  <th style="width:5px"><i class="fa fa-edit"></i></th>
                  <th style="width:5px"><i class="fa fa-minus-circle"></i></th>
                </tr>
              </thead>
              <tbody id="tabla">
              </tbody>
            </table>
          </div>
          <div class="row mt-2 mx-2 justify-content-end">
            <!--Subtotal-->
            <label for="inputSubtotal" class="col-md-12 col-lg-2 col-form-label">Subtotal:</label>
            <input type="text" name="subtotal" class="col-md-12 col-lg-2 pl-2 form-control" id="inputSubtotal" readonly="true">
          </div>
          <div class="row mt-2 mx-2 justify-content-end">
            <!--IGV-->
            <label for="inputIGV" class="col-md-12 col-lg-2 col-form-label">IGV(18%):</label>
            <input type="text" name="IGV" class="col-md-12 col-lg-2 form-control" id="inputIGV" readonly="true">
          </div>
          <div class="form-row mt-2 mx-2 justify-content-end">
            <!--Importe Total-->
            <label for="inputTotal" class="col-md-12 col-lg-2 col-form-label">Importe Total:</label>
            <input type="text" name="mtotal" class="col-md-12 col-lg-2 form-control" id="inputTotal" readonly="true">
          </div>
          <div class="form-row mx-2 mt-2 justify-content-start">
            <!--Subtotal-->
            <label for="inputMonto" class="col-md-12 col-lg-2 col-form-label">Son: </label>
            <input type="text" class="col-md-12 col-lg-10 form-control" id="inputTotalLetras" disabled>
          </div>
        </div>
        <div class="card-footer">
          <div class="row justify-content-center">
            <button class="btn btn-primary mt-2 ml-3" type="submit"><i class="fa fa-check-circle"></i>
              Registrar Factura
            </button>
          </div>
          <div class="row justify-content-center">
            <button class="btn btn-primary  mt-2 ml-3" type="button" onclick="genPDF()"><i
                class="fa fa-check-circle"></i>
              Generar Factura
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  {{/if}}
</div>
<!-- AddModal-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Items</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="#" class="needs-validation" method="POST" novalidate>

          <!-- Productos -->
          <div class="form-group form-row">
            <label for="inputDescripcion" class="col-4 col-form-label">Descripcion:</label>
            <select class="col-8 form-control mb-2" name="pro_nombre" id="inputDescripcion"
              onchange="seleccion(this.value)" required>
              <option value=""></option>
              {{#each productos}}
              <option value="{{pro_id}}~{{pro_precio}}~{{pro_nombre}}~{{umed_nombre}}~{{pro_stock}}~{{umed_id}}">
                {{pro_nombre}} </option>
              {{/each}}
            </select>
            <div class="valid-feedback">¡Correcto!</div>
            <div class="invalid-feedback">Seleccionar medida</div>
          </div>
          <!-- Unidad de Medida -->
          <div class="form-group form-row">
            <label for="inputUnidad" class="col-4 col-form-label">Unidad de Medida:</label>
            <input type="text" class="col-8 form-control mb-2" name="pro_umed" id="inputUnidad" readonly="True">
            <input type="text" class="col-8 form-control mb-2" id="inputUnidadID" hidden>
          </div>
          <!-- Stock -->
          <div class="form-group form-row">
            <label for="inputStock" class="col-4 col-form-label">Stock:</label>
            <input type="text" class="col-8 form-control mb-2" name="pro_stock" id="inputStock" readonly="True">
          </div>
          <!-- Precio Unitario -->
          <div class="form-group form-row">
            <label for="inputValor" class="col-4 col-form-label">Valor Unitario:</label>
            <input type="text" class="col-8 form-control mb-2" name="pro_precio" id="inputValor" disabled required>
            <div class="valid-feedback">¡Correcto!</div>
            <div class="invalid-feedback">Ingresar valor unitario</div>
          </div>
          <!-- Cantidad -->
          <div class="form-group form-row">
            <label for="inputCantidad" class="col-4 col-form-label">Cantidad:</label>
            <input type="number" name="detb_cantidad" class="col-8 form-control mb-2" id="inputCantidad"
              onchange="refresh(this.value)" min="0" required>
            <div class="valid-feedback">¡Correcto!</div>
            <div class="invalid-feedback">Ingresar cantidad</div>
          </div>
          <!-- Monto -->
          <div class="form-group form-row">
            <label for="inputMonto" class="col-4 col-form-label">Monto Total:</label>
            <input type="text" class="col-8 form-control" name="detb_precio" id="inputMonto" disabled>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="submit" data-dismiss="modal" onclick="agregarProducto()">Aceptar</button>
        <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de eliminar el elemento?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Seleccione "Si" para eliminar la fila, sino Cancelar.</div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-dismiss="modal">Si</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<script>
  function genPDF() {

    var doc = new jsPDF();

    let numDocumento = document.getElementById('inputDocumento').value;
    let tipoMoneda = document.getElementById('inputMoneda').value;
    let Razon_social = document.getElementById('inputCliente').value;
    let direccion = document.getElementById('inputDireccion').value;
    let modo_pago = document.getElementById('inputPago').value;
    let fecha = document.getElementById('inputFecha').value;

    let aCantidad = document.getElementsByName('cantidad');
    let aUnidad = document.getElementsByClassName('vUnidad');
    let aDescripcion = document.getElementsByClassName('vDescripcion');
    let aValor = document.getElementsByName('valor');
    let aMonto = document.getElementsByName('monto');

    let aIGV = document.getElementById('inputIGV').value;

    let total = document.getElementById('inputTotal').value;
    let resultados = [];


    for (let i = 0; i < aCantidad.length; i++) {
      let arr = { "Cantidad": "", "U. Medida": "", "Descripcion": "", "P. Unitario": "", "Importe": "" };
      arr["Cantidad"] = aCantidad[i].value;
      arr["U. Medida"] = aUnidad[i].innerHTML;
      arr["Descripcion"] = aDescripcion[i].innerHTML;
      arr["P. Unitario"] = aValor[i].value;
      arr["Importe"] = aMonto[i].value;

      resultados.push(arr);
    }
    console.log(resultados);
    doc.text('EMPRESA MELINNITA', 10, 10);
    doc.text('Av Amezaga 123 Urb. Urbanizacion', 10, 20);
    doc.line(118, 20, 190, 20, 'F');
    doc.line(118, 20, 118, 32, 'F');
    doc.text('FACTURA ELECTRONICA', 120, 25);
    doc.text('RUC: 987654321', 130, 30);
    doc.line(190, 20, 190, 32, 'F');
    doc.line(118, 32, 190, 32, 'F');
    doc.text('CERCADO DE LIMA - LIMA - LIMA', 10, 30);

    doc.line(10, 40, 210, 40, 'F');

    doc.text('Fecha', 10, 50);
    doc.text(':', 55, 50);
    doc.text(fecha, 60, 50);

    doc.text('Senor(es)', 10, 60);
    doc.text(':', 55, 60);
    doc.text(Razon_social, 60, 60);

    doc.text('RUC', 10, 70);
    doc.text(':', 55, 70);
    doc.text(numDocumento, 60, 70);

    doc.text('Tipo de Moneda', 10, 80);
    doc.text(':', 55, 80);
    doc.text(tipoMoneda, 60, 80);

    doc.line(10, 85, 210, 85, 'F');

    var columnas = createHeaders(['Cantidad', 'U. Medida', 'Descripcion', 'P. Unitario', 'Importe']);

    function createHeaders(keys) {
      return keys.map(key => ({
        'name': key,
        'prompt': key,
        'width': 50,
        'align': 'center',
        'padding': 0
      }));
    }
    doc.table(10, 90, resultados, columnas);

    doc.text('IGV:', 128, 160);
    doc.text(aIGV, 162, 160);

    doc.text('Total:', 128, 170);
    doc.text(total, 162, 170);

    doc.save('a5.pdf')
  }
</script>