<div class="container-fluid">


  {{#if ProductAdded}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <h5 class="mt-2"><i class="far fa-check-circle"></i> {{ProductAdded}}</h5>
    <button type="button" class="close" data-dismiss="alert">
    <span>&times;</span>
  </button>
  </div>
  {{/if}}

  {{#if ProductDeleted}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h5 class="mt-2"><i class="far fa-trash-alt"></i> {{ProductDeleted}}</h5>
    <button type="button" class="close" data-dismiss="alert">
    <span>&times;</span>
  </button>
  </div>

  {{/if}}

  <!-- Cabecera de Pagina -->
  <h1 class="h3 mb-2 text-gray-800">Inventario</h1>
  <p class="mb-4">Productos del inventario en general.</p>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-6">
          <h6 class="m-0 font-weight-bold text-primary">Productos</h6>
        </div>
        <div class="col-md-6 d-flex flex-row-reverse">
          <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal">
            <i class="fas fa-minus"></i> Eliminar</button>
          <button type="button" class="btn btn-sm btn-primary mx-1" data-toggle="modal" data-target="#addModal">
            <i class="fas fa-plus"></i> Agregar</button>
        </div>
      </div>

    </div>

    <div class="card-body">
      <div>
        <form action="/dashboard/inventario" method="POST" id="productos">
        <div class="table-responsive">
          <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Código</th>
                <th>Categoría</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>U. Medida</th>
                <th>Eliminar</th>
              
              </tr>
            </thead>

            <tbody>
              {{#each resultados}}
              <tr>
                <td>{{pro_id}}</td>
                <td>{{cat_tipo}}</td>
                <td>{{pro_nombre}}</td>
                <td>{{pro_precio}}</td>
                <td>{{pro_stock}}</td>
                <td>{{umed_nombre}}</td>
                <td class="text-center"><input type="checkbox" name="producto_eliminado" value="{{pro_id}}"></td>
              </tr>
              {{else}}
              <h6 class="m-0 font-weight-bold text-primary">No hay productos en el inventario</h6>
              {{/each}}
            </tbody>
          </table>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<!-- AddModal-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/dashboard/inventario" method="POST" class="needs-validation" id="formProducto" novalidate>
          <div class="form-group form-row">
            <label for="inputCategoria" class="col-4 col-form-label">Categoria:</label>
            <select class="col-8 form-control mb-2" name="cat_tipo" id="inputCategoria" required>
              <option value=""></option>
              {{#each categorias}}
              <option value="{{cat_id}}"> {{cat_tipo}} </option>
              {{/each}}
            </select>
            <div class="valid-feedback">¡Correcto!</div>
            <div class="invalid-feedback">Ingresar categoria</div>
          </div>

          <div class="form-group form-row">
            <label for="inputNombre" class="col-4 col-form-label">Nombre:</label>
            <input type="text" class="col-8 form-control mb-2" name="pro_nombre" id="inputNombre" required>
            <div class="valid-feedback">¡Correcto!</div>
            <div class="invalid-feedback">Ingresar nombre</div>
          </div>

          <div class="form-group form-row">
            <label for="inputPrecio" class="col-4 col-form-label">Precio:</label>
            <input type="number" class="col-8 form-control mb-2" name="pro_precio" id="inputPrecio" required>
            <div class="valid-feedback">¡Correcto!</div>
            <div class="invalid-feedback">Ingresar el precio</div>
          </div>

          <div class="form-group form-row">
            <label for="inputStock" class="col-4 col-form-label">Stock:</label>
            <input type="text" class="col-8 form-control mb-2" name="pro_stock" id="inpuStock" required>
            <div class="valid-feedback">¡Correcto!</div>
            <div class="invalid-feedback">Ingresar el stock</div>
          </div>

          <div class="form-group form-row">
            <label for="inputUnidad" class="col-4 col-form-label">Unidad:</label>
            <select class="col-8 form-control mb-2" name="umed_nombre" id="inputUnidad" required>
              <option value=""></option>
              {{#each u_med}}
              <option value="{{umed_id}}"> {{umed_nombre}} </option>
              {{/each}}
            </select>
            <div class="valid-feedback">¡Correcto!</div>
            <div class="invalid-feedback">Seleccionar medida</div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-sm btn-success" form="formProducto" type="submit">Aceptar</button>
            <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>



<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de eliminar el elemento?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Seleccione "Si" para eliminar la(s) fila(s), sino Cancelar.</div>
      <div class="modal-footer">
        <button class="btn btn-primary" form="productos" type="submit">Si</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>