<div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Inventario</h1>
          <p class="mb-4">Productos del inventario en general.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="row">
                <div class="col-md-6">
                  <h6 class="m-0 font-weight-bold text-primary h5">Productos</h6>
                </div>
                <div class="col-md-6 d-flex flex-row-reverse">
                  <button type="button" class="btn btn-sm btn-primary mx-1" data-toggle="modal"
              data-target="#addModal">Agregar</button>
            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal"
              data-target="#deleteModal">Eliminar</button>
                </div>
              </div>
              
            </div>
            
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Categoría</th>
                      <th>Nombre</th>
                      <th>Precio</th>
                      <th>Stock</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    {{#each resultados}}
                      <tr>
                        <td>{{pro_id}}</td>
                        <td>{{cat_tipo}}</td>
                        <td>{{pro_nombre}}</td>
                        <td>{{pro_precio}}</td>
                        <td>{{pro_stock}}</td>
                      </tr>
                    {{else}}
                      <p class="display-3">
                        No hay productos en el inventario
                      </p>
                    {{/each}}
                    
                    <!--
                      
                    <tr>
                      <td>1234567</td>
                      <td>Papel</td>
                      <td>Cuadernos</td>
                      <td>20</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td>1234567</td>
                      <td>Papel</td>
                      <td>Cuadernos</td>
                      <td>20</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td>1234567</td>
                      <td>Papel</td>
                      <td>Cuadernos</td>
                      <td>20</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td>1234567</td>
                      <td>Papel</td>
                      <td>Cuadernos</td>
                      <td>20</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td>1234567</td>
                      <td>Papel</td>
                      <td>Cuadernos</td>
                      <td>20</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td>1234567</td>
                      <td>Papel</td>
                      <td>Cuadernos</td>
                      <td>20</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td>1234567</td>
                      <td>Papel</td>
                      <td>Cuadernos</td>
                      <td>20</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td>1234567</td>
                      <td>Papel</td>
                      <td>Cuadernos</td>
                      <td>20</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td>1234567</td>
                      <td>Papel</td>
                      <td>Cuadernos</td>
                      <td>20</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td>1234567</td>
                      <td>Papel</td>
                      <td>Cuadernos</td>
                      <td>20</td>
                      <td>100</td>
                    </tr>
                    <tr>
                      <td>1234567</td>
                      <td>Papel</td>
                      <td>Cuadernos</td>
                      <td>20</td>
                      <td>100</td>
                    </tr>
                    -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

        <!-- AddModal-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="#" class="needs-validation" novalidate>

          <div class="form-group form-row">
            <label for="inputCategoria" class="col-4 col-form-label">Categoria:</label>
            <input type="text" class="col-8 form-control mb-2" id="inputCategoria" required>
            <div class="valid-feedback">¡Correcto!</div>
            <div class="invalid-feedback">Ingresar categoria</div>
          </div>

          <div class="form-group form-row">
            <label for="inputNombre" class="col-4 col-form-label">Nombre:</label>
            <input type="text" class="col-8 form-control mb-2" id="inputNombre" required>
            <div class="valid-feedback">¡Correcto!</div>
            <div class="invalid-feedback">Ingresar nombre</div>
          </div>

          <div class="form-group form-row">
            <label for="inputPrecio" class="col-4 col-form-label">Precio:</label>
            <input type="number" class="col-8 form-control mb-2" id="inputPrecio" required>
            <div class="valid-feedback">¡Correcto!</div>
            <div class="invalid-feedback">Ingresar el precio</div>
          </div>

          <div class="form-group form-row">
            <label for="inputStock" class="col-4 col-form-label">Stock:</label>
            <input type="text" class="col-8 form-control mb-2" id="inpuStock" required>
            <div class="valid-feedback">¡Correcto!</div>
            <div class="invalid-feedback">Ingresar el stock</div>
          </div>
          
          <div class="form-group form-row">
            <label for="inputUnidad" class="col-4 col-form-label">Unidad:</label>
            <select class="col-8 form-control mb-2" id="inputUnidad" required>
              <option value="1"></option>
              <option value="2">Objeto 2</option>
              <option value="3">Objeto 3</option>
            </select>
            <div class="valid-feedback">¡Correcto!</div>
            <div class="invalid-feedback">Seleccionar medida</div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-success" type="button" data-dismiss="modal">Aceptar</button>
        <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de eliminar el elemento?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Seleccione "Si" para eliminar la fila, sino Cancelar.</div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-dismiss="modal">Si</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>


      </div>
    </div>
  </div>
</div>